.homeContainer {
  text-align: center;
  background-image: url("../../../public/background.jpeg");
  height: 90vh;
  width: 100vw;
  background-size: cover;
  margin-left: 0px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeContainer h3 {
  color: white;
}

.homeContainer h1 {
  color: white;
  margin-bottom: 5%;
}

.homeContainer h2 {
  color: white;
  margin-bottom: 5%;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workflowBox {
  background-color: rgba(218, 159, 254, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;

  margin-bottom: 5%;
}

.my-input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.my-button {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 5px; /* added border-radius */
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: rgb(34, 73, 128);
  border: none;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 5%;
}

.my-button:hover {
  background-color: rgba(218, 159, 254, 0.5);
}
